.newHero {
	background-color: $paper;
	padding: 60px 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.content, .image {
		width: 45%;
		max-width: 635px;
	}

	.image {
		width: 646px;
		height: 325px;
		overflow: hidden;
		border-radius: 24px;
		position: relative;

		img {
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%)
		}
	}

	.social {
		margin-left: auto;
	}
}

.groups {
	background-color: $paper;
	color: $black;
	padding: 60px 20px;

	.title {
	  display: flex;
	  align-items: flex-end;
	  margin-bottom: 40px;

	  p {
	    margin: auto 0 24px 14px;
	    max-width: 760px;
	  }
	}

	.options {
	  display: flex;
	  justify-content: space-evenly;
	  margin-bottom: 60px;

	  img {
	    width: 30%;
	    height: auto;
	    max-width: 440px;
	    max-height: 668px;
	  }
	}

	.cta {
	  display: flex;
	  justify-content: center;
	}
}

.banner {
	background-color: $orange;
	color: $paper;
	padding: 120px 0;
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	overflow: hidden;

	h2 {
		max-width: 560px;
	}

	.blob {
		position: absolute;
		right: -20%;
		top: -20%;
	}

	.blobSmall {
		position: absolute;
		left: -10%;
		top: 0%;
		width: 40%;
		transform: rotate(120deg);

		svg {
			width: 100%;
		}
	}
}

.values {
	padding: 60px 20px;

	.valueRow {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		.valueItem {
			width: calc(25% - 60px);
			margin-right: 60px;
			margin-bottom: 60px;

			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}

	.splitContainer {
		display: flex;
		justify-content: space-between;

		.splitColumn {
			width: 45%;

			p {
				margin-bottom: 20px;
			}
		}
	}
}

.involve {
	background-color: $paper;
	padding: 60px 20px;

	.involveContent {
		display: flex;
		justify-content: space-between;

		.content, .image {
			width: 40%;
		}

		.content {
			display: flex;
			flex-direction: column;
			
			button {
				margin-bottom: 20px;
			}
		}

		.image {
			width: 646px;
			height: 325px;
			overflow: hidden;
			border-radius: 24px;
			position: relative;

			img {
				width: 100%;
				height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%)
			}
		}
	}
}

.question {
	background-color: $green;
	padding: 60px 20px;
	text-align: center;
}

@include tablet {
	.newHero {
		.image {
			width: 420px;
			height: 260px;
		}

		.social {
			margin-left: auto;
			margin-top: -48px;
		}
	}

	.involve {
		.involveContent {
			.image {
				margin-top: 32px;
				width: 420px;
				height: 260px;
			}
		}
	}
}

@include mobile {
	.newHero {
		padding: 48px 20px;

		.content, .image {
			width: 100%;
			max-width: unset;
		}

		.image {
			width: 350px;
			height: 230px;
			margin: 48px auto 20px;
		}

		.social {
			margin-right: auto;
			margin-left: 0;
		}
	}

	    .groups {
	    	padding: 0px 20px 48px;

	      .title {
	        flex-direction: column;
	        align-items: flex-start;
	        margin-bottom: 20px;

	        p {
	          margin: 8px 0;
	        }
	      }

	      .options {
	        flex-direction: column;
	        margin-bottom: 20px;

	        img {
	          width: 70%;
	          margin: 0 auto 40px; 
	        }
	      }
    }

    .values {
		.valueRow {
			.valueItem {
				width: calc(50% - 24px);
			    margin-right: 24px;
			    margin-bottom: 48px;

			    &:nth-child(2n) {
			    	width: 50%;
			    	margin-right: 0;
			    }
			}
		}

		.splitContainer {
			flex-direction: column;

			.splitColumn {
				width: 100%;
			}
		}
	}

	.involve {
		padding: 48px 20px;

		.involveContent {
			flex-direction: column-reverse;

			.image {
				width: 350px;
				height: 210px;
				margin-bottom: 48px;
			}

			.content {
				width: 100%;
			}
		}
	}
}