.button {
	width: 280px;
	height: 56px;
	border-radius: 999px;
	cursor: pointer;
	border: none;
	@include button-3;

	&.primary {
		background-color: $black;
		color: $paper;
		transition: all 200ms ease-in;

		&:hover {
			background-color: transparent;
			color: $black;
			border: 2px solid $black;
			transition: all 200ms ease-in;
		}
	}

	&.secondary-light {
		background-color: transparent;
		color: $paper;
		border: 2px solid $paper;
		transition: all 200ms ease-in;

		&:hover {
			background-color: $paper;
			color: $black;
			transition: all 200ms ease-in;
		}
	}

	&.secondary-dark {
		background-color: transparent;
		color: $black;
		border: 2px solid $black;
		transition: all 200ms ease-in;

		&:hover {
			background-color: $black;
			color: $paper;
			transition: all 200ms ease-in;
		}
	}
}

@include mobile {  
	.button {
		width: 220px;
		height: 40px;
	}
}