.socialLinksContainer {
	list-style-type: none;
	display: flex;

	&.light {
		color: $paper
	}

	&.dark {
		color: $black
	}

	li {
		@include button-1;
		display: flex;
		align-items: flex-start;
		margin-right: 40px;

		&:last-child {
			margin: 0;
		}

		svg {
			padding-left: 6px;
		}
	}
}

@include tablet {
	.socialLinksContainer { 
		li {
			svg {
				width: 24px;
				height: 24px;
			}
		}
	}
}

@include mobile {
	.socialLinksContainer { 
		li {

			align-items: center;

			svg {
				width: 18px;
				height: 18px;
			}
		}
	}
}