.givingPage {
	.hero {
		background-color: $green;
		padding: 60px 20px;

		p { max-width: 460px; }

		.title {
			display: flex;
			align-items: baseline;
		}
	}

	.bankDetail {
		background-color: $paper;
		padding: 20px;
		display: flex;
		flex-direction: column;

		span {
			border-left: 4px solid black;
			padding-left: 12px;
		}
	}
}
