.formContainer {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba($paper, 0.98);
	display: flex;
	justify-content: center;
	align-items: center;

	.close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}

	.formFields {
		width: 70%;
		max-width: 760px;
		border: 1px solid black;

		.intro {
			padding: 20px 20px;
			background-color: $black;
			color: $paper;
		}

		.desc {
			padding: 20px;
		}

		.row {
			display: flex;
			width: 100%;
		}

		.textArea {
			width: 100%;
		    height: 80px;
		    background: none;
		    border: none;
		    border-top: 1px solid black;
		    padding: 12px 20px;
		    font-family: 'Acumin Pro';
		    outline: none;
		}

		.buttonContainer {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 20px 20px ;
			border-top: 1px solid black; 

			.errorMessage {
				margin-right: auto;
			}

			.button {
				@include body-3;
				padding-top: 3px;
				cursor: pointer;
				width: 140px;
				height: 40px;
				border: 2px solid black;
				border-radius: 999px;
				display: flex;
				justify-content: center;
				align-items: center;
				text-transform: uppercase;
				background-color: $black;
				color: $paper;

				&.cancel {
					margin-right: 20px;
					background-color: transparent;
					color: $black;
				}
			}
		}
	}
}