.splitContent {
	background-color: $paper;
	padding: 60px 20px;
	display: flex;
	flex-wrap: wrap;

	.text, .image {
		width: 50%;
	}

	.image {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 40px 0;
	}
}

.valueContainer {
	padding: 60px 20px;

	.valueRow {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		.valueItem {
			width: calc(25% - 60px);
			margin-right: 60px;
			margin-top: 60px;

			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
}