* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Acumin Pro';
  height:  100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 13px;
  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
  @media (min-width: $desktop-width) {
    font-size: 16px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

input, select {
  background:  none;
  border:  none;
  outline:  none;
}

option {
  &:disabled {
    color:  rgba(black, 0.5);
  }
}

input[type="radio"] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: black;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  transform: translateY(-1.5px);
  display: grid;
  place-content: center;

  &:before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
  }

  &:checked {
    &:before {
      transform: scale(1);
    }
  }
}
