.footerContainer {
	background-color: $black;
	padding: 80px 20px 20px;
	color: $paper;

	.icons {
		display: flex;
		margin-bottom: 40px;

		a {
			margin-right: 20px;
		}
	}

	.locationContainer {
		display: flex;

		p { max-width: 120px; }
	}

	.bookend {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: baseline;
		text-transform: uppercase;

		.links {
			list-style-type: none;
			text-transform: uppercase;
			@include label-2;
			margin-top: 80px;
			display: flex;

			li {
				margin-right: 40px;
				cursor: pointer;
			}
		}
	}
}

@include mobile {
	.footerContainer { 
		padding-top: 48px;
		
		.bookend {
			align-items: flex-start;
    		flex-direction: column;

    		.links {
    			flex-direction: column;
    			margin-bottom: 20px;

    			li {
    				margin-bottom: 4px;
    			}
    		}
		}
	}
}