.formHalfContainer {
	width: 100%;

	.intro {
		padding: 0 20px 20px;
	}

	.form {
		.row {
			display: flex;
			width: 100%;

			label {
				width: 50%;

				&:last-child {
					border-left: 1px solid black;
				}
			}
		}

		.buttonContainer {
			display: flex;
			justify-content: flex-end;
			padding: 20px 20px ;
			border-top: 1px solid black;

			.button {
				@include body-3;
				padding-top: 3px;
				cursor: pointer;
				width: 140px;
				height: 40px;
				border: 2px solid black;
				border-radius: 999px;
				display: flex;
				justify-content: center;
				align-items: center;
				text-transform: uppercase;
				background-color: $black;
				color: $paper;

				&:first-child {
					margin-right: 20px;
					background-color: transparent;
					color: $black;
				}
			}
		}
	}
}