.bannerContainer {
	@include display-4;
	text-transform: uppercase;
	width: 100%;
	height: 88px;
	display: flex;
	justify-content: center;
	align-items: center;

	&.green {
		background-color: $green;
		color: $black;
	}

	&.yellow-light {
		background-color: $yellow-light;
		color: $black;
	}

	&.yellow-dark {
		background-color: $yellow-dark;
		color: $paper;
	}

	&.orange {
		background-color: $orange;
		color: $paper;
	}

	span {
		padding: 8px 20px 0;
	}
}

@include tablet {
	.bannerContainer {
		height: 68px;
	}
}

@include mobile {
	.bannerContainer {
		font-size: 18px;
		height: 50px;

		span {
			padding: 4px 8px 0;
		}

		.icon {
			width: 12px;
			height: 12px;
		}
	}
}